body{
    margin-left: 3rem;
}
.portfolio{
    line-height: 3px;
}
.projects{
    display: flex;
    justify-content: space-between;
}

.projects > div {
    background-color: white;
    color: black;
    text-align: left;
    line-height: 16px;
    font-size: 14px;
    max-width: 200px;
    border-right: solid grey;
    border-left: solid grey;
    border-width: thin;
    margin-right: 20px;
}
.button{
    background-color: #0275d8;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}
footer{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 0 auto;
    padding-top: 20px;
    border-top: solid grey;
    border-width: thin;
}