main{
    margin: 10vw auto;
    max-width: 70vw;
}

.flex-row{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.flex-column{
    display:flex;
    flex-direction:column;
    flex:1;
}

.container-bar{
    display: flex;
    flex-direction: row;
}
